<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Organize ur life - {{ title }}</title>
    {% else %}
        <title>Organize ur life</title>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
    {% for message in messages %}
      <li class="flashess">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar">
      <a href="/" style="font-size: 20px; "><b>Organize ur life</b></a>
      <a href="{{ url_for('about') }}">О нас</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('account') }}">Личный кабинет</a>
        <a href="{{ url_for('logout') }}">Выйти</a>
      {% else %}
        <a href="{{ url_for('login') }}">Войти</a>
        <a href="{{ url_for('register') }}">Регистрация</a>
      {% endif %}      
      </nav>
  </header> 
      
  <div class="container rounded bg-white shadow p-3">
    <div class="row">
      <div class="col-lg-3 border-right pt-5 mt-1">
        
        <div class="d-flex flex-column align-items-center text-center">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <p class="text-secondary"><h3>{{ current_user.username }}</h3></p>
            <p class="text-secondary">{{ current_user.email }}</p>
            <div class="modal-checkbox-container">
              <label for="modal-checkbox" class="modal-checkbox">РЕДАКТИРОВАТЬ</label>
            </div>
        </div>
        
        <!-- Модальное окно -->    
        <input type="checkbox" id="modal-checkbox" />    
        <div class="modal1">
          <div class="cmt">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <h2 align="center" style="padding: 10px;">Информация профиля</h2>
                
                <div class="form-group">
                    <a>Имя</a>
                    {{ form.username(class="form-control")}}
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}                              
                </div>

                <div class="form-group">
                    <a>Электронная почта</a>
                    {{ form.email(class="form-control")}}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}                              
                </div>
                            
                <div class="form-group">
                    <p>Обновить фото профиля</p>
                    {{ form.picture }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <p><span style="color: red;">{{ error }}</span></p>
                        {% endfor %}
                    {% endif %}
                </div>
                                    
                <div class="modal-footer">
                    {{ form.submit(class='buttons_for_modal') }}
                    <button class='buttons_for_modal' onclik="{{ url_for('account') }}">Закрыть</button> 
                </div>
            </form>
          </div>
        </div>

        </div>   
        
    <div class="col-lg-6 align-items-center border-right pt-5 mt-1">
        <h3>Статистика за день</h3>
        <div class="container">
            <div class="row align-items-center pt-2">
                <div class="col">
                    <table class="table">
                        <tr align="center">
                            <th class="task_colvo">{{ count_complete}}</th>
                            <th class="task_colvo">{{ count_incomplete}}</th>
                        </tr>
                        
                        <tr>
                            <td align="center" class="task_name"><br>задачи</br></td>
                            <td align="center" class="task_name"><br>задачи</br></td>
                        </tr>
                        
                        <tr>
                            <td align="center">выполнено</td>
                            <td align="center">в процессе</td>
                        </tr>
                                    
                    </table>
                                    
                    <img src="{{ url_for('chart1') }}" height="500px" width="500px" class="chart1">
                </div>
              </div>
            </div>                   
            
            <h3>Статистика за последнюю неделю использования</h3>            
            <img src="{{ url_for('chart2') }}" height="350px" width="450px">
      </div>          


    <div class="col-lg-3 align-items-center pt-5 mt-2">
        <div class="p-2"><img src="{{ url_for('image1') }}" height="120px" width="200px"></div>
            <div class="p-5"> <a class='button2' href="{{ url_for('countdown') }}">Разбудить</a></div>
                <div class="p-2">
                    <a class="text_nearbutton2">Разбуди кота, чтобы разблокировать новые функции!</a></div>
                </div>
                          
            </div>
        </div>
    </div>


</body>
</html>