    <div class="row">
          <div class="col">
          <h2 class="status">Невыполненные задачи</h2>

            <table class="todo_table">
               {% for todo in incomplete %}
               <tr>
                   <td>
                       <button class="check" onclick="window.location.href='{{ url_for('complete', id=todo.id) }}'"></button>
                   </td>
                   <td>
                        <form action="{{ url_for('update', id=todo.id) }}" method="POST">
                            <input type = "text" name="todo_{{ todo.id }}" contenteditable="true"  value="{{todo.text}}" class="edit">
                        </form>
                   </td>
                   <td>
                        <button class="delete" onclick="window.location.href='{{ url_for('delete', id=todo.id) }}'"></button>
                   </td>
               </tr>
<!--              <li style="list-style-type: none; font-size: 18px;">-->
               {% endfor %}
            </table>
          </div>
          <div class="col">
          <h2 class="status">Выполненные задачи</h2>
             <table class="todo_table">
                {% for todo in complete %}
                <tr>
                    <td>
                        <button class="check1" onclick="window.location.href='{{ url_for('incomplete', id=todo.id) }}'"></button>
                    </td>
                    <td>
                        <form action="{{ url_for('update', id=todo.id) }}" method="POST">
                            <input type = "text" name="todo_{{ todo.id }}" contenteditable="true" value="{{todo.text}}">
                        </form>
                    </td>
                    <td>
                        <button class="delete" onclick="window.location.href='{{ url_for('delete', id=todo.id) }}'"></button>
                    </td>
                </tr>
                {% endfor %}
            </table>
          </div>
    </div>