.quotes{
align: center;
background-color: #ccb8e0;
width:50%;
margin-left: 25%;
}
body{
  background:rgba(255, 255, 255, 0);
  color:rgb(0, 0, 0);
  margin-top: 5px;
  font-family: Georgia, garamond serif;
}
.div1{
  width: 50%;
  float:left;
}
.div2{
  width: 50%;
  float:right;
}
.button{
  border:1px;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.066);
  text-align: center;
  width: 120px;
  height: 30px;
  font-size: 14px;
  margin-left: 20px;
}
.button:hover{
  border-color: #000000;
  background-color: #000000;
  box-shadow:0 0 15px 4px #ae00ff47;
}
.button:focus{
  border-color: #000000;
  background-color: rgb(0, 0, 0);
  box-shadow:0 0 15px 4px #ae00ff47;
}
.field{
  display: inline-block;
  box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.066);
  background-color: rgb(255, 255, 255);
  border: 1.5px solid #000000;
  border-radius: 0.25em;
  height: 20px;
  margin: 15px 0;
}
.field:hover{
  box-shadow:0 0 15px 4px #ae00ff47;
}
.text-field__input{
  font-size: 16px;
  padding: 10px;
  border: 0px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.check{
  background: #ffffff;
  border: 1.5px solid #000000;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.check:hover{
  background: #000000;
  box-shadow:0 0 15px 4px #ae00ff47;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.check:focus{
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.check1{
  background: #000000;
  width: 1em;
  height: 1em;
  border: 1.5px solid #000000;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.check1:hover {
  background: #ffffff;
  border: 1.5px solid #000000;
  box-shadow:0 0 15px 4px #ae00ff47;
  
 .delete{
  width: 1em;
  height: 1em;
  background-color: #ff6666;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
 }
.edit{
  border-style: dotted;
  width: 100%;

}

.save{
  width: 1em;
}

.todo_table{
  width: 80%;
}
