<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Organize ur life - {{ title }}</title>
    {% else %}
        <title>Organize ur life</title>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
    {% for message in messages %}
      <li class="flashess">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar">
      <a href="/" style="font-size: 20px; "><b>Organize ur life</b></a>
      <a href="{{ url_for('about') }}">О нас</a>
      <a href="{{ url_for('calendar') }}">Календарь</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('account') }}">Личный кабинет</a>
        <a href="{{ url_for('logout') }}">Выйти</a>
      {% else %}
        <a href="{{ url_for('login') }}">Войти</a>
        <a href="{{ url_for('register') }}">Регистрация</a>
      {% endif %}
      <button id='button_fon' class="button-fon">Поменять тему</button>
      <script>
          const button = document.getElementById('button_fon');
          if (localStorage.getItem('theme') == false){
            localStorage.setItem('theme', '0')
          }
          function changeBackground(){
            if (localStorage.getItem('theme') == '1'){
              localStorage.setItem('theme', '0')
              document.body.style.background = "#fafafa";
            }
            else{
              localStorage.setItem('theme', '1')
              document.body.style.background = "#200924";        
            }
          }
          if (localStorage.getItem('theme') == '1'){
            document.body.style.background = "#200924";
          }
          else{
            document.body.style.background = "#fafafa";
          }
          button.addEventListener('click', changeBackground);
      </script>
    </nav>
  </header>
      
  <div class="container rounded bg-white shadow p-3">
    <div class="row">
      <div class="col-lg-3 border-right pt-5 mt-1">
        
        <div class="d-flex flex-column align-items-center text-center">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <p class="text-secondary"><h3>{{ current_user.username }}</h3></p>
            <p class="text-secondary">{{ current_user.email }}</p>
            <div class="modal-checkbox-container">
              <label for="modal-checkbox" class="modal-checkbox">РЕДАКТИРОВАТЬ</label>
            </div>
        </div>
        
        <!-- Модальное окно -->    
        <input type="checkbox" id="modal-checkbox" />    
        <div class="modal1">
          <div class="cmt">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <h2 align="center" style="padding: 10px;">Информация профиля</h2>
                
                <div class="form-group">
                    <a>Имя</a>
                    {{ form.username(class="form-control")}}
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}                              
                </div>

                <div class="form-group">
                    <a>Электронная почта</a>
                    {{ form.email(class="form-control")}}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}                              
                </div>
                            
                <div class="form-group">
                    <p>Обновить фото профиля</p>
                    {{ form.picture }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <p><span style="color: red;">{{ error }}</span></p>
                        {% endfor %}
                    {% endif %}
                </div>
                                    
                <div class="modal-footer">
                    {{ form.submit(class='buttons_for_modal') }}
                    <button class='buttons_for_modal' onclik="{{ url_for('account') }}">Закрыть</button> 
                </div>
            </form>
          </div>
        </div>

        </div>   
        
    <div class="col-lg-6 align-items-center border-right pt-5 mt-1">
        <h3>Статистика за день</h3>
        <div class="container">
            <div class="row align-items-center pt-2">
                <div class="col">
                    <table class="table">
                        <tr align="center">
                            <th class="task_colvo">{{ count_complete}}</th>
                            <th class="task_colvo">{{ count_incomplete}}</th>
                        </tr>
                        
                        <tr>
                            <td align="center" class="task_name"><br>задачи</br></td>
                            <td align="center" class="task_name"><br>задачи</br></td>
                        </tr>
                        
                        <tr>
                            <td align="center">выполнено</td>
                            <td align="center">в процессе</td>
                        </tr>
                                    
                    </table>
                                    
                    <img src="{{ url_for('chart1') }}" height="500px" width="500px" class="chart1">
                </div>
              </div>
            </div>                   
            
            <h3>Статистика за последнюю неделю использования</h3>            
            <img src="{{ url_for('chart2') }}" height="350px" width="450px">
      </div>          


    <div class="col-lg-3 align-items-center pt-5 mt-2">
        <div class="p-3"><img src="{{ url_for('image2') }}" height="180px" width="200px">
        <a class="text_nearbutton2">Привет! Я помогу тебе сконцентрироваться с помощью таймера! Введи нужное количество секунд</a>
        </div>
                       
        <a class='button2' href="{{ url_for('account') }}">Уложить спать</a>
        
        <p></p>
        <audio id="over_music">
            <source src="{{ url_for('static', filename='beepbeep.mp3') }}">
        </audio>
              
        <form method="POST" action="{{ url_for('countdown') }}" style="display:inline">
            <input name="t" class="time-input" id="t">
            <input type="submit" class="startButton" value="START">
        </form>
                                  
        {% for a in list6 %}
            <div class ='ud' id ='{{ loop.index }}' style="opacity:0;"> {{ a }} </div>
            <div class ='ikk' style="opacity:0;"> {{ uved }} </div>
        {% endfor %}
                                
        <script>
            const testQueryAll = document.querySelectorAll('div.ud');
            const test2 = document.querySelector('div.ikk')
            const number = testQueryAll[testQueryAll.length-1];
            var Audio = document.getElementById('over_music');
            testQueryAll.forEach(function(item) {
                        if (item == number) {
                            var n = item.id;
                            setTimeout(appearElement, 1000*(n-1))
                            function appearElement() {
                                item.style.opacity = "1"; 
                            }
                            setTimeout(appearElement, 1000*(n))
                                function appearElement() {
                                test2.style.opacity = "1";                 
                                Audio.play();}
                                }
                                
                        else {
                            var n = item.id;
                            setTimeout(appearElement, 1000*(n-1))
                            function appearElement() {
                                item.style.opacity = "1"; 
                            }
                            setTimeout(hideElement, 1000*(n))
                            function hideElement() {
                                item.style.display = 'none';
                            }  
                            } 
                    
                    });
            
            </script>
    </div>
          
            
                          
            
        </div>
    </div>


</body>
</html>
